body {
  margin: 100px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

canvas {
  box-shadow: white 0px 1px 25px;
}

.snake-decor {
  position: fixed;
  left: -20px;
  top: 20px;
}
